.fs-search-modal {
  position:absolute; 
  border-radius: 8px; 
  top: 50vh; left: 50vw; 
  padding: 15px; 
  background-color: white; 
  color: black; 
  transform:translate(-50%, -75%); 
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.fs-code-search__header {
  border-bottom: 1px solid #e0e0e0; 
  display: flex;
}

.fs-code-search__filter {
  display: flex;
}

.fs-code-search__filter input {
  padding: 10px; 
  margin: 5px; 
  width: 400px;
}

.fs-code-search__filter button {
  margin: 5px; 
  width: 150px;
}

.fs-code-search__filter input,
.fs-code-search__filter button,
.fs-code-search__filter select {
  height: 45px;
}

.fs-code-search__list ul {
  padding-left:0px; 
  list-style:none;
}

.fs-code-search__list li {
  padding: 8px; 
  color:#0AE; 
  cursor: pointer;
}

.fs-search-modal .fa-refresh--running {
  animation: spinner .6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg)
  }
}

.fs-code-search__field-input i {
  position: absolute;
  transform: translate(-25px, 15px);
}

.fs-code-search__connector {
  position: absolute;
  right: 15px;
}

.fs-code-search__connector h3 {
  margin-bottom: 0px;
}

.fs-code-search__list {
  max-height: 500px;
  overflow-y: scroll;
}

.fs-code-search__help {
  margin-top: 25px;
}